.link-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.company{
    height: 200px;
    width: 400px;
}
.text{
    width: 500px;
}
.category{
    color: rgb(73, 136, 139);
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
}
.products-main-container{
    display: flex;
    gap: 20px;
}
.links-container{
    display: grid;
    gap: 10px;
    height: max-content;
}

